 p { font-family: 'Great Vibes', cursive;}
 p {font-size: 50px;}
 p {color:red;}
li{font-family: 'Great Vibes', cursive;
font-family: 'Cookie', cursive;}
li{font-size: 30px;} 
li{color: purple;}
body{background-color: blue;}